@media (max-width: 1024px){
    /* works */
    .works_container{
        row-gap: 15px;
    }
}
@media (max-width: 842px){
    /* skills */
    .skills_container{
        flex-direction: column;
    }
    .skills_container .html .hover_html{
        order: 0;
    }
}
@media (max-width: 768px){
    .section_title{
        font-size: 30px;
    }
    /* first screen */
    .first_screen_container h1{
        font-size: 30px;
        line-height: 40px;
        padding-bottom: 18px;
    }
    .first_screen_container p{
        font-size: 15px;
        line-height: 30px;
        padding-bottom: 18px;
    }
    /* skills */
    .skills_container{
        display: block;
        max-width: 95%;
        margin-left: 0;
        margin-right: 0;
        margin: 0 auto;
    }
    /* works */
    .works_container{
        justify-content: center;
    }
    /* footer */
    .info_contact h3{
        font-size: 16px;
        margin-left: 32px;
    }
    .info_contact p{
        font-size: 13px;
        margin-left: 32px;
    }
    .info_contact p::before{
        width: 12px;
        height: 12px;
        top: 48px;
    }
    .social h3 {
        font-size: 16px;
    }
    .social .link_vk{
        width: 20px;
        height: 20px;
    }
    .social .link_vk .vk_icon{
        width: 20px;
        height: 20px;
    }
}
@media (max-width: 425px){
    /* navbar */
    .menu ul{
        display: block;
    }
      /* first screen */
      .first_screen_container h1{
        text-align: center;
    }
    .first_screen_container p{
        text-align: center;
    }
    /* works */
    .works_container .link_on_work{
        height: 320px;
    }
    .works_container .card_work .rgba h3{
        font-size: 18px;
        padding-top: 15px;
    }
    .works_container .card_work .rgba p{
        font-size: 16px;
        padding: 5px 5px 0px 5px;
    }
    /* footer */
    .footer_content{
        flex-direction: column;
    }
    .info_contact LI{
        font-size: 16px;
        line-height: 22px;
        margin-left: 30px;
        padding-top:  15px;
    }
    .info_contact .mail::before{
        top: 20px;
    }
    .vk_icon{
        display: block;
        margin: 0 auto;
    }
}
